.categories-text___ {

}
.el-divider {
  background: #3e4043 !important;
}
.el-carousel__arrow--left {
  left: 260px !important;
}

.button_____ {
  .el-button {
    width: 200px;
  }
}
.carousel{
  .el-carousel__arrow--left {
    left:-100px !important;
  }
}
